/* Write your CSS here */
.cowin-dashboard-bg-container {
  padding: 20px;
  background-color: #161625;
}

.failure-view-style{
  height:300px;
  width:300px;
}

.website-logo-style {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.website-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cowin-website-name {
  color: #2cc6c6;
  font-size: 25px;
  font-family: 'Roboto';
}

.cowin-heading {
  color: #ffffff;
  font-size: 28px;
  font-family: 'Roboto';
}

.chart-container {
  background-color: #2d87bb;
  padding: 20px;
  border-radius: 16px;
  color: #cbd5e1;
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
